<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Aliyun ApiGateway Test">
            <directory>tests/UseCase/</directory>
        </testsuite>
    </testsuites>
    <php>
    	<const name="APP_ID" value=""/>
    </php>
</phpunit>
